<div class="border-t mt-3 w-[30rem]">
  <div class="relative pt-5">
    <div class="relative mt-4">
      <div class="absolute top-0 bottom-0 left-0 flex items-center px-5">
        <!-- TODO: SVG can be moved to a file and load lazily to reduce bundle size -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-indigo-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </div>
      <input
        #typeahead
        (focus)="toggleDropdown(true)"
        (input)="onInputChange($event.target['value'])"
        type="text"
        placeholder="Search..."
        class="pl-16 pr-4 py-4 rounded-md shadow-md bg-white border-0 w-full transition-all outline-none focus:outline-indigo-700 focus:shadow-none z-10"
      />
    </div>

    @if(isSearchLoading() && searchTerm()) {
    <div class="absolute top-0 bottom-0 right-0 flex items-center px-5">
      <div
        class="animate-spin mt-9 rounded-full h-5 w-5 border-t-2 border-b-2 border-indigo-600"
      ></div>
    </div>
    } @else if(suggestions().length && isDropdownVisible()) {
    <app-typeahead-suggestions-list
      [searchTerm]="searchTerm()"
      [items]="suggestions()"
      (hide)="toggleDropdown()"
      (loadMore)="loadNextBatch()"
    />
    } @else if (isSearchLoading() === false && !suggestions()?.[0] &&
    searchTerm()) {
    <div
      class="absolute w-full mt-1 bg-white rounded-md shadow-lg border border-gray-200 py-2"
    >
      <div
        class="px-4 py-3 text-sm text-gray-500 flex items-center gap-2 justify-center"
      >
        <!-- TODO: SVG can be moved to a file and load lazily to reduce bundle size -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9.172 16.172a4 4 0 015.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        No results found for "{{ searchTerm() }}"
      </div>
    </div>
    }
  </div>
</div>
