@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(252, 251, 255, 0.4);
  height: 100%;
  width: 100%;
}

/* Custom Scrollbar Styles */
* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    transition: all 0.3s ease;
  }

  &::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
    border: 2px solid #f1f5f9;
    transition: all 0.3s ease;

    &:hover {
      background: #475569; // Darker on hover
      cursor: pointer;
    }

    &:active {
      background: #334155; // Even darker when clicking
    }
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 #f1f5f9;

  &:hover {
    &::-webkit-scrollbar {
      width: 10px; // Slightly wider on hover
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #94a3b8; // Slightly darker when hovering over the container
    }
  }
}

/* For Firefox hover effects */
* {
  &:hover {
    scrollbar-color: #94a3b8 #f1f5f9;
  }
}
